.border{
    padding: 5px;
    border-collapse: collapse;
    border: solid 2px forestgreen;
}

.border2{
    padding: 5px;
    border: solid 1px forestgreen;
}

.hajime{
    padding: 5px;
    background-color: greenyellow;
    border: solid 1px forestgreen;
}

.nibanme {
    padding: 5px;
    background-color: green;
    border: solid 1px forestgreen;
    color: white;
}

.pandako-img {
    width:380px;
}
.pandako-container {
    text-align: center;
    position:relative;
}


.logon-form{
    padding:10px;
    width:500px;
    background-color: darkseagreen;
    border: solid 2px yellow;
}

.login-input, .password-input{
    margin:0 0 10px 0;
    line-height:25px;
    height:25px ;
    width: 300px;
    background-color: darkgreen;
    border: solid 1px greenyellow;
    color: white;

}

.sex-select, .sex-option {
    margin:0 0 10px 0;
    padding:5px;
    line-height:25px;
    height:35px ;
    width: 302px;
    background-color: darkgreen;
    border: solid 1px greenyellow;
    color: white;
}

.dream_wright{
    line-height:25px;
    padding:5px;
    height: 300px;
    width:400px;
    margin:0 0 10px 0;
    background-color: darkgreen;
    border: solid 1px greenyellow;
    color: white;
}

.dream_japanese{
    padding:5px;
}

.panda_teikoku{
    margin:10px;
    padding: 5px;
    height: 35px;
    width:300px;
    background-color: greenyellow;
    border: solid 5px yellow;
    color: white;
    font-size:30px;
}

.panda_boss{
    margin:10px;
    padding: 5px;
    height: 200px;
    width:400px;
    background-color: yellowgreen;
    border: solid 5px yellow;
    color: yellowgreen;
    font-size:15px;
}

.panda_kids{
    float:left;
    background-color: greenyellow;
    border: solid 5px yellow;
    color: green;
    font-size:15px;
}

p {
    line-height:160%;
    font-size:200%;
}

.t1 {
    font-size:100%;
}

.t2 {
    vertical-align:top;
}
p {
    white-space: pre;
}
p {
    letter-spacing: 20px;
}
p {
    word-spacing: 20px;
}

.www {
    vertical-align:top;
}

.table {
    table-layout: fixed;
    width: 200%;
}

body {
    font-family: 'Meiryo UI','Meiryo','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',sans-serif;
}

span {
    font-weight: bold;
}
span {
    font-size: 200%;
}
.scrollable {
    border: 1px dotted red;
    max-height: 150px;
    overflow: auto;
    width: 300px;
}
div {
    border: 1px dotted red;
}
.t1 {
    min-width: 0;
}




ul {
    list-style: square inside url(green_circle.png);
}


ul {
    list-style-position: inside;
}
div {
    padding: 10px 5px 10px 40px;
}
div {
    border: solid thin red;
}
div {
    border: dotted 5px rgba(255,0,0,0.5);
}
.pandako-img {
    position: absolute;
    bottom: 10px;
    right: 20px;
}